//variaveis Sass 
$cor-site: #d4c0a1;
$cor_paragrafos: #000000;
$cor-links-menu: #000000;

$tamanhoSpan: 0.85em;
$tamanhoIcones: 1.5em;
$tamanhoLinksMenu: 0.90em;
$tamanhoH1:2.5em;
$tamanhoH2:2.2em;
$tamanhoH3:1.5em;
$tamanhoH4:1.0em;
$tamanhoH5:0.85em;
$tamanhoH6: 0.75em;

$espacamentoHeaderLogo: 20px 0 20px 0;

// Resetando valores dos elementos
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    border: none;
}

// Estilização do Cabeçalho
header#cabecalho{
    #cabecalho-whatsapp{
        width: 100%;
        background-color: $cor-site;
        height: 30px;
        p{
            font-size: $tamanhoSpan;
            a{
                color: $cor_paragrafos;
            }
        }
    }

    div#cabecalho-logo{
        padding: $espacamentoHeaderLogo;
        border-bottom: 1px solid $cor-site;
        h1{
            margin: 0;
        }
        ul#menu-social-midias{
            margin: 0;
            li{
                display: inline;
            }
            i{
                font-size: $tamanhoIcones;
                color: $cor-site;
                margin-right: 5px;
            }
            i:hover{
                color: #af9a7a

            }
        }
    }

    nav#menu{
        border-bottom: 1px solid $cor-site;
        padding: 0;
        ul li a{
            font-size: $tamanhoLinksMenu;
            color: $cor-links-menu;
            text-transform: uppercase;
            line-height: 20px;
            letter-spacing: 2px;
        }

        ul li a:hover{
            background-color: $cor-site;
            color: white
        }
    }

}

// Estilização do conteudo principal
main#principal{
    width: 100%;
    // Seção de Slide Show
    section#slide-show img{
        width: 100%;
    }
    // Seçao de categorias
    section#categorias{
        width: 100%;
        padding: 20px;

        .box-categorias{
            background-color: #eee5d7;
            padding: 20px;
            .card{
                background-color: #958061;
                color: white;
            }
        }
    }

    // Seção de produtos em destaque
    section#destaques, section#produtos{
        margin-bottom: 30px;
        text-align: center;
        h1{
      
            margin-bottom: 20px;
        }
    
        .img-destaques{
            border-radius: 8px;
            margin-bottom: 15px;
        }
        h6{
            font-size: $tamanhoH6;
            letter-spacing: 1px;
        }
        p{
            font-weight: bold;
            font-size: 1.5em;
            margin: 0;
        }
        span{
            font-size: 0.85em;
        }
        button{
            display: block;
            background: none;
            border: solid 2px $cor-site;
            padding: 5px 15px 5px 15px;
            margin-top: 15px;
            border-radius: 4px;
            i{
                color: rgb(87, 210, 87);
                font-size: 1.2em;
            }
        }
        button:hover{
            background-color: $cor-site;
            color: white;
        }
    }
}
// Fim do conteudo principal


// Estilização do Rodapé
footer#rodape{
    margin-top: 50px;
    padding: 30px;
    background-color: $cor-site;
    h3,h4,h5 ,h6{
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    h6{
        font-size: $tamanhoH6;
        margin-bottom: 10px;
    }
    h4{
        font-size: $tamanhoH4;
    }
    // Alinhamento dos textos da forma de pagamento, horario de atendimento e copyright
    .rodape-copyright, .rodape-formas-pagamento, .rodape-horario-atd{
        text-align: center;
    }
    // Estilização das informações institucionais
    .rodape-info{
        border-bottom: 1px dotted black;
        padding: 30px 0 30px 0;
        a{
            color: $cor-links-menu;
            font-size: 0.75em;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        a:hover{
            color: #695639;
        }
        .rodape-contato span {
            font-size: 0.85em;
            text-transform: lowercase;
        }
        .rodape-contato ul{
            display: inline-block;
        }
        .rodape-contato i{
            font-size: 1em;
        }
        .rodape-contato li{
            margin-bottom: 10px;
        }
        .rodape-contato button{
            background-color: #000000;
            padding: 10px 8px 10px 8px;
            color: white;
            border: 1px solid black;
        }
        .rodape-contato button:hover{
            background-color: white;
            color: black;
        }
    }
    // Estilização das midiais sociais do rodapé
    .rodape-social-midias{
        li{
            margin-bottom: 10px;
            a{
                font-size: 0.85em;
                text-transform: lowercase;
            }
            i{
                font-size: 1.3em;

            }

        }
    }

    // EStilização da forma de pagamento - rodapé
    .rodape-formas-pagamento, .rodape-horario-atd{
        margin-top: 30px;
    }
    .rodape-formas-pagamento{
        i{
            font-size: 1.5em;
            margin: 3px;
        }
        h6{
            font-size: $tamanhoH6;
        }
    }
    .rodape-horario-atd{
        margin-bottom: 50px;
        span{
            font-size: 0.70em;
        }
    }
    .rodape-copyright{
        border-top: 1px dotted black;

        span{
            font-size: 0.65em;
            a{
                color:rgb(64, 49, 30)
            }
            a:hover{
                color: white
            }
        }
    }
}

// EStilização da página de sobre
section#sobre{
    padding: 50px 0 50px 0;
    text-align: center;
    .caixa-artigo{
        padding: 10px 25px 15px 25px;
        h1{
            font-size: $tamanhoH1;
            letter-spacing: 3px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        p{
            font-size: 0.75em;
            letter-spacing: 1px;
        }
    }
    img{
        border-radius: 12px;
        box-shadow: 1px 2px 2px 2px rgba(0,0,0, 0.2);
    }
}

// Estilização da página de produtos
section#produtos{
    padding: 50px 0 50px 0;
    h1{
        font-size: $tamanhoH1;
        letter-spacing: 3px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    img{
        border-radius: 12px;
        width: 80%;
        margin: 30px 0 10px 0;
    }

    .order{
        background: transparent;
    }
}

// EStilização da página de contato
section#contato{
    padding: 50px 0 50px 0;
    text-align: center;
    h1{
        font-size: $tamanhoH1;
        letter-spacing: 3px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    h6{
        font-size: $tamanhoH6;
        letter-spacing: 3px;
        margin-top: 30px;
        text-transform: uppercase; 
    }
    p{
        font-size: 0.75em;
        letter-spacing: 1px;
    } 
    a{
        color: black;
    }
}


